In [2]:
import dash
import dash_core_components as dcc
import dash_html_components as html

C:\Users\dt\AppData\Local\Temp\ipykernel_1400\954449312.py:2: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
C:\Users\dt\AppData\Local\Temp\ipykernel_1400\954449312.py:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [3]:
app = dash.Dash()

In [5]:
type(app)

dash.dash.Dash

In [28]:
if __name__ == '__main__':
    app.run_server(port = 4050)

In [41]:
app.layout = html.Div([
    html.H1(children='WESTINGHOUSE ANNUAL SALES DATA',
           style={'textAlign':'center'}
           
           ),
    html.Div('Dash! A product of Plotly'),
    
    dcc.Graph(
        id='simplechart',
        figure={
            'data': [
                {'x': [5, 6, 7, 9, 13], 'y': [12, 23, 65, 67, 86], 'type': 'line'},
                {'x': [3, 4, 5, 7, 18], 'y': [22, 26, 60, 55, 46], 'type': 'line'},

            ],
            'layout': {
                'title': 'Simple Bar Chart'
            }
        }
    )
])

In [43]:
app.run_server()

In [49]:
import numpy as np
import plotly.graph_objs as go

In [62]:
x_rand = np.random.randint(1,61,60)
y_rand = np.random.randint(1,61,60)

In [63]:
x_rand

array([56, 54, 54,  7, 42, 15, 60, 36, 20,  1,  7, 22, 58, 16, 50, 46, 43,
       10,  2, 59, 17, 19, 58, 55, 39,  8, 34, 54,  6, 14,  2, 14, 16, 16,
       15, 26,  9, 21, 53, 32,  3, 53,  6, 32, 17, 60,  1,  1, 28, 32, 19,
       22, 28, 43, 23, 35, 33,  3, 47,  8])

In [64]:
app.layout = html.Div([
    html.H1(children='WESTINGHOUSE',
           style={'textAlign':'center'}
           
           ),
    html.Div(children='MV LV Products', 
            style={'textAlign':'center'}
),
    
    dcc.Graph(
        id='scatter_chart',
        figure={
            'data': [
                go.Scatter(x=x_rand,y=y_rand,mode='markers')
            ],
            'layout': {
                'title': 'Annual Sale Scatter Graph',
                'xaxis': {'title': 'Quantity'},
                'yaxis': {'title': 'Sales'}
            }
        }
    )
])

In [65]:
app.run_server()

In [66]:
import pandas as pd

In [78]:
df = pd.read_csv('USA_Housing.csv')

In [79]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [96]:
app.layout = html.Div([
    html.H1(children='WESTINGHOUSE',
           style={'textAlign':'center'}
           
           ),
    html.Div(children='MV LV Products', 
            style={'textAlign':'center'}
),
    
    dcc.Graph(
        id='scatter_chart',
        figure={
            'data': [
                go.Scatter(x=df['Avg. Area House Age'],y=df['Avg. Area Income'],mode='markers')
            ],
            'layout': {
                'title': 'Annual Sale Scatter Graph',
                'xaxis': {'title': 'Quantity'},
                'yaxis': {'title': 'Sales'}
            }
        }
    )
])

In [99]:
app.run_server

In [156]:
app.layout = html.Div([
    html.Label('Enter your Name: '),
    dcc.Input(placeholder='Name',
              type='text',
              value = ''
    
    ),
    html.Br(),
    html.Label('Chose Your City'),

    dcc.Dropdown(
    id = 'first-dropdown',
    options = [
        {'label' : 'Karachi', 'value':'khi'},
        {'label' : 'Lahore', 'value':'lhr'},
        {'label' : 'Islamabad', 'value':'isb'}
    ],
        #value = 'khi', 
        placeholder = 'Select a city'
        #multi = True
    ),
    html.Label('Sex: '),
    dcc.RadioItems(
        options = [
        {'label' : 'Male', 'value':'m'},
        {'label' : 'Female', 'value':'f'},
    ]
    
    ),
        html.Label('Sports: '),
    dcc.Checklist(
        options = [
        {'label' : 'Cricket', 'value':'cr'},
        {'label' : 'Football', 'value':'fb'},
        {'label' : 'Hocky', 'value':'hc'}
    ]
    
    )
    
]

)

In [157]:
app.run_server